<!DOCTYPE html>
<html lang="en">

<head>
    {{>headerlinks}}
    <style>
div.container4 {
    height: 10em;
    position: relative }
div.container4 p {
    margin: 0;
    background: yellow;
    position: absolute;
    top: 228%;
    font-size: 90px;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%) }


</style>
   
</head>

<body>
    {{>header}}
    {{!-- <h1>Opps this about page not found</h1> --}}
    <div class=container4>
    <p>Opps this about page not found!
    </div>
    
    {{>footer}}
</body>
</html>