 <!-- Footer -->
    <section id="footer">
        <div class="footer container">
            <div class="brand">
                <h1><span>P</span>ratik <span>B</span>hatt</h1>
            </div>

            <div class="social-icon">
                <div class="social-item">
                    <a href="https://www.facebook.com/pratikbhatt215/" target="_blank"><img src="https://img.icons8.com/bubbles/100/000000/facebook-new.png" /></a>
                </div>
                <div class="social-item">
                    <a href="https://www.instagram.com/pratik_bhatt4215/" target="_blank"><img src="https://img.icons8.com/bubbles/100/000000/instagram-new.png" /></a>
                </div>
                <div class="social-item">
                    <a href="https://twitter.com/PRATIKB85995449" target="_blank"><img src="https://img.icons8.com/bubbles/100/000000/twitter.png" /></a>
                </div>

            </div>
            <p>Copyright © 2020 Pratik. All rights reserved</p>
        </div>
    </section>