<section id="header">
        <div class="header container">
            <div class="nav-bar">
                <div class="brand">
                    <a href="/">
                        <h1><span>P</span>RATIK <span>B</span>HATT</h1>
                    </a>
                </div>
                <div class="nav-list">
                    <div class="hamburger">
                        <div class="bar"></div>
                    </div>
                    <ul>
                        <li><a href="/" data-after="Home">Home</a></li>
                        <li><a href="/projects">Projects</a></li>
                        <li><a href="/about">About</a></li>
                        <li><a href="/contact">Contact</a></li>
                    </ul>
                </div>
            </div>
        </div>
</section>